In [1]:
import pymysql

In [2]:
x=pymysql.connect(host='localhost',user='root',password='Password@123',database='shanmukh')
cr=x.cursor()

In [3]:
cr.execute('create table army(id int(5),name varchar(15),age int(3))')

0

In [6]:
cr.execute('insert into army(id,name,age)values(1,"ramesh",30)')
cr.execute('insert into army(id,name,age)values(2,"suresh",32)')
cr.execute('insert into army(id,name,age)values(3,"rajesh",40)')

1

In [8]:
x.commit()
x.close()

In [10]:
x=pymysql.connect(host='localhost',user='root',password='Password@123',database='shanmukh')
cr=x.cursor()

In [11]:
cr.execute('insert into army(id,name,age)values(4,"tajesh",44)')

1

In [12]:
x.commit()

In [13]:
cr.execute('insert into army(id,name,age)values(5,"dajesh",47)')

1

In [14]:
x.commit()