In [1]:
import pymysql

In [2]:
x=pymysql.connect(host='localhost',user='root',password='Password@123',database='shanmukh')
cr=x.cursor()

In [4]:
cr.execute('create table state(sno int(2),state varchar(20),language varchar(10),city varchar(10))')

0

In [5]:
cr.execute('insert into state(sno,state,language,city)values(1,"Andhrapradesh","Telugu","Vijayawada")')
cr.execute('insert into state(sno,state,language,city)values(2,"Tamilnadu","Tamil","Chennai")')
cr.execute('insert into state(sno,state,language,city)values(3,"Kerala","Malayalam","TCR")')
cr.execute('insert into state(sno,state,language,city)values(4,"Karnataka","Kannada","Bangalore")')
cr.execute('insert into state(sno,state,language,city)values(5,"Goa","Kongini","Panaji")')

1

In [7]:
x.commit()

In [8]:
cr.execute('insert into state(sno,state,language,city)values(6,"Telangana","Telugu","Hyderabad")')

1

In [9]:
x.commit()

In [11]:
a=[10,20,30,40,50]
for i in a:
    print(id(i))

140427180065296
140427180065616
140427180065936
140427180066256
140427180066576